body {
    font-family: "trebuchet ms", verdana, sans-serif;
    font-size: 20px;
    line-height: 1.5em;
    color: #333;
    background: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    }
    p {
    margin-top: 10px;
    }
    a:link {
    text-decoration: none;
    color: blue;
    }
    a:visited {
    text-decoration: none;
    border-bottom: 1px dotted #369;
    color: blue;
    }
    a:hover, a:active {
        text-decoration: none;
        border-bottom: 1px solid #036;
        color: #000;
        }
        img {
        border: 0;
        }
        #container {
        position: absolute;
        top: 90px;
        left: 0px;
        background: #ffffff;
        margin: 0 auto 0 auto;
        text-align: left;
        width: 100%;
        height: 100%;
        }
        #menu {
        font-family: "trebuchet ms", verdana, sans-serif;
        font-size: 14px;
        font-weight: bold;
        position: absolute;
        height: 30px;
        top: 60px;
        left: 0px;
        width: 100%;
        padding: 0px;
        color: #000000;
        background-color: #eee
        }
        #header {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 60px;
        width: 100%;
        background: #333;
        padding-top: 8px;
        }
        #header h1 {
            font-size: 30px;
text-transform: uppercase;
letter-spacing: 0.3em;
color: #fff;
}
#main {
margin: 20px 20px 20px 20px;
padding: 15px 15px 15px 15px;
background: blue;
}
#bar {
float: left;
width: 200px;
background: #eee;
z-index: 1;
padding: 10px;
margin-right: 30px;
height: 100%;
}
#bar h1 {
font-size: 12px;
text-transform: uppercase;
letter-spacing: 0.3em;
}